<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="createBoard()">
  <div class="flex flex-wrap">
    <div class="flex items-center me-4">
      <input
        checked
        formControlName="backgroundColor"
        id="sky-radio"
        type="radio"
        value="sky"
        name="backgroundColor"
        class="hidden peer"
      />
      <label
        for="sky-radio"
        class="inline-flex items-center justify-center w-14 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-sky-700 hover:bg-sky-500 peer-checked:text-white"
        >Sky</label
      >
    </div>

    <div class="flex items-center me-4">
      <input
        formControlName="backgroundColor"
        id="yellow-radio"
        type="radio"
        value="yellow"
        name="backgroundColor"
        class="hidden peer"
      />
      <label
        for="yellow-radio"
        class="inline-flex items-center justify-center w-14 h-8 text-transparent border border-gray-200 rounded cursor-pointer bg-yellow-700 hover:bg-yellow-500 peer-checked:text-white"
      >Yellow
      </label>
    </div>

    <div class="flex items-center me-4">
      <input
        formControlName="backgroundColor"
        id="green-radio"
        type="radio"
        value="green"
        name="backgroundColor"
        class="hidden peer"
      />
      <label
        for="green-radio"
        class="inline-flex items-center justify-center w-14 h-8 text-transparent border border-gray-200 rounded cursor-pointer
        bg-green-700 hover:bg-green-500 peer-checked:text-white"
      >Green
      </label>
    </div>

    <div class="flex items-center me-4">
      <input
        formControlName="backgroundColor"
        id="red-radio"
        type="radio"
        value="red"
        name="backgroundColor"
        class="hidden peer"
      />
      <label
        for="red-radio"
        class="inline-flex items-center justify-center w-14 h-8 text-transparent border border-gray-200 rounded cursor-pointer
        bg-red-700 hover:bg-red-500 peer-checked:text-white"
      >Red
      </label>
    </div>

    <div class="flex items-center me-4">
      <input
        formControlName="backgroundColor"
        id="violet-radio"
        type="radio"
        value="violet"
        name="backgroundColor"
        class="hidden peer"
      />
      <label
        for="violet-radio"
        class="inline-flex items-center justify-center w-14 h-8 text-transparent border border-gray-200 rounded cursor-pointer
        bg-violet-700 hover:bg-violet-500 peer-checked:text-white"
      >Violet
      </label>
    </div>

    <div class="flex items-center me-4">
      <input
        formControlName="backgroundColor"
        id="gray-radio"
        type="radio"
        value="gray"
        name="backgroundColor"
        class="hidden peer"
      />
      <label
        for="gray-radio"
        class="inline-flex items-center justify-center w-14 h-8 text-transparent border border-gray-200 rounded cursor-pointer
        bg-gray-700 hover:bg-gray-500 peer-checked:text-white"
      >Gray
      </label>
    </div>

  </div>

  <div>
    <div class="relative">
      <input
        formControlName="backgroundColor"
        #nameInput
        formControlName="title"
        placeholder="Name Board"
        type="text"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
    </div>

    <div *ngIf="form.controls.title.touched && form.controls.title.invalid">
      <p
        *ngIf="form.controls.title.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.title.hasError('title')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field should be a title
      </p>
    </div>

  </div>

  <div>
    <app-btn
      typeBtn="submit"
      color="success"
      >Create</app-btn
    >
  </div>
</form>
