<form [formGroup]="formTask" (ngSubmit)="createCard()">
  <label id="task">
    New task:
    <textarea name="task" type="textarea" formControlName="task" class="w-full rounded border-none border"></textarea>
  </label>

  <div *ngIf="formTask?.get('task')?.invalid && (formTask?.get('task')?.dirty || formTask?.get('task')?.touched)">
    <div *ngIf="formTask?.get('task')?.errors?.['required']" class="text-red-700">
      Task is required.
    </div>
    <div *ngIf="formTask?.get('task')?.errors?.['minlength']" class="text-red-700">
      Task must be a min of 3 characters.
    </div>
  </div>

  <div class="flex justify-around items-center gap-3">
    <app-btn type="submit" color="primary" (click)="createCard()" class="mt-2">Create</app-btn>
    <app-btn type="button" color="light" (click)="onClose()" class="mt-2">Close <fa-icon [icon]="faX"></fa-icon></app-btn>
  </div>

</form>
